/* Breakpoints
-------------------------------------------------*/
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 360px;

/* ContentElement Styles 
-------------------------------------------------*/
$contentBorderColor: rgb(221, 221, 221);
$authorBg: rgb(216, 216, 216);
$authorEmailLinkColor: rgb(73, 116, 247);
$btnBgColor: rgb(63, 110, 249);
$btnColor: rgb(236, 242, 255);
$defaultSpacing: 2rem;